<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.curtisnewbie.module.auth.dao.UserMapper">
  <update id="updatePwd">
    UPDATE user
    SET password = #{hashedPwd}
    WHERE id = #{id}
  </update>

  <select id="findByUsername" resultType="com.curtisnewbie.module.auth.dao.UserEntity">
    SELECT id, username, password, salt, role
    FROM user
    WHERE username = #{username}
  </select>
  <select id="findIdByUsername" resultType="java.lang.Integer">
    SELECT id
    FROM user
    WHERE username = #{username}
    LIMIT 1
  </select>
  <select id="countAdmin" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM user
    WHERE role = 'admin'
  </select>
  <select id="findUserInfoList" resultType="com.curtisnewbie.module.auth.dao.UserEntity">
    SELECT id, username, role
    FROM user
  </select>

  <insert id="insert">
    INSERT INTO user (username, password, salt, role)
    VALUES (#{username}, #{password}, #{salt}, #{role})
  </insert>
</mapper>
